<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pjt.setting.name }}
      - Debug</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shitajicss@5.0.0/docs/css/shitaji.css">
    <link rel="stylesheet" href="./{{ pkg.name }}.css">
    <style>
      body {
        min-height: 100vh;
        padding: 160px 0;
      }
      .header {
        margin-bottom: 64px;
      }
      .demo-h1 {
        margin: 0 16px 32px;
        font-size: 2em;
        font-weight: 700;
      }
      .demo-version {
        font-weight: 400;
      }
      .demo-link {
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline;
      }
      .demo-link:hover {
        text-decoration: none;
      }
      .demo-h2 {
        margin: 64px 16px 32px;
        font-size: 1.25em;
        font-weight: 700;
      }
      .demo-area {
        margin: 16px;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <h1 class="demo-h1">
        <span>{{ pjt.setting.name }}</span>
      </h1>
      <div class="demo-area">
        <p>
          <span class="demo-version">v{{ pkg.version }}</span>
          <a href="{{ pkg.repository }}" class="demo-link">Repository</a>
        </p>
      </div>
    </header>
    <main class="main">
      <h2 class="demo-h2">Example</h2>
      <div class="demo-area">
        <p>
          <a href="#" class="demo-link" data-staffroller-show="staff-1">Staff</a>
        </p>
      </div>
    </main>
    <script src="./{{ pkg.name }}.js"></script>
    <script>
      const Staff1 = new StaffRoller({
        id: "staff-1",
        data: [
          {
            "role": "デザイナー",
            "name": ["クラク", "まいのこ"]
          }, {
            "role": [
              "コーダー", "フロントエンド"
            ],
            "name": "クラク"
          }, {
            "role": "スペシャルサンクス",
            "name": "マロ"
          }
        ]
      })
    </script>
  </body>
</html>